[submodule "react-facts"]
	path = react-facts
	url = https://github.com/Akshay-Tarde/react-facts.git
[submodule "digital-business-card"]
	path = digital-business-card
	url = https://github.com/Akshay-Tarde/digital-business-card.git
[submodule "airbnb-clone"]
	path = airbnb-clone
	url = https://github.com/Akshay-Tarde/airbnb-clone.git
[submodule "meme-generator"]
	path = meme-generator
	url = https://github.com/Akshay-Tarde/meme-generator.git
